* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  max-width: 100%;
}

.container {
  padding: 40px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: #e0e0e0;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.link {
  color: #3498db;
  text-decoration: underline;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2em;
}

.thanks {
  text-align: left;
  position: fixed;
  bottom: 1px;
  font-size: small;
  z-index: 2;
}
.exchange-group {
  margin-bottom: 30px;
}

.exchange-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.paragon-column, .desired-column {
  width: 45%;
}

.paragon-column h3, .desired-column h3 {
  text-align: center;
  color: #e0e0e0;
}

.paragon-item {
  display: flex;
  align-items: center;
}

.select-container {
  margin-right: 20px;
  width: 100%;
}

.paragon-item .quantity-input {
  max-width: 4rem;
}

.paragon-item input {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #555;
  background-color: #333;
  color: #e0e0e0;
  border-radius: 5px;
  width: 120px;
}

.paragon-item button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.paragon-item button:hover {
  background-color: #c0392b;
}

.desired-result-container {
  display: flex;
  align-items: center;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.bigbluebutton {
  margin-top: 10px;
  max-height: 3rem;
}

button:hover {
  background-color: #2980b9;
}

.results-container {
  margin-top: 30px;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  min-height: 15vh;
  max-height: 35vh;
  overflow: auto;
}

.results-container h3 {
  text-align: center;
  color: #e0e0e0;
}

.results-container ul {
  list-style-type: none;
  padding: 0;
}

.results-container ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #555;
}

.results-container ul li:last-child {
  border-bottom: none;
}

.result-container {
  margin-left: 20px;
}

.error-message {
  color: #e74c3c;
  text-align: center;
  margin-top: 20px;
}

/* Ajoutez ces styles dans votre fichier CSS */
.results-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 30px;
}

.results-container .total-sent,
.results-container .total-received {
  width: 48%;
}

.results-container ol {
  padding-left: 20px; /* Pour éviter que les numéros soient coupés */
  margin: 0;
  color: #e0e0e0;
}

.results-container li {
  padding: 10px;
  border-bottom: 1px solid #555;
}

.results-container li:last-child {
  border-bottom: none;
}

.results-container h3 {
  text-align: center;
  color: #e0e0e0;
}
