body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 90%;
  max-width: 1200px;
  margin: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

.exchange-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.paragon-column {
  width: 45%;
}

.paragon-column h3 {
  text-align: center;
  color: #555;
}

.paragon-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.paragon-item .select-container {
  margin-right: 20px;
  width: 300px; /* Agrandissement de la largeur des sélecteurs */
}

.paragon-item .quantity-input {
  max-width: 2rem;
}

.paragon-item input {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 120px; /* Agrandissement de la largeur des champs de saisie */
}

.paragon-item button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.paragon-item button:hover {
  background-color: #c0392b;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}

button:hover {
  background-color: #2980b9;
}

.results-container {
  margin-top: 30px;
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 20px;
}

.results-container h3 {
  text-align: center;
  color: #333;
}

.results-container ul {
  list-style-type: none;
  padding: 0;
}

.results-container ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.results-container ul li:last-child {
  border-bottom: none;
}

.result-item button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.result-item button:hover {
  background-color: #2980b9;
}

.error-message {
  color: #e74c3c;
  text-align: center;
  margin-top: 20px;
}
