* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.container {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 40px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

h2 {
  text-align: center;
  color: #e0e0e0;
}

.exchange-group {
  margin-bottom: 30px;
}

.exchange-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.paragon-column, .desired-column {
  width: 45%;
}

.paragon-column h3, .desired-column h3 {
  text-align: center;
  color: #e0e0e0;
}

.paragon-item {
  display: flex;
  align-items: center;
}

.select-container {
  margin-right: 20px;
  width: 100%;
}

.paragon-item .quantity-input {
  max-width: 4rem;
}

.paragon-item input {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #555;
  background-color: #333;
  color: #e0e0e0;
  border-radius: 5px;
  width: 120px;
}

.paragon-item button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.paragon-item button:hover {
  background-color: #c0392b;
}

.desired-result-container {
  display: flex;
  align-items: center;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.bigbluebutton {
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

.results-container {
  margin-top: 30px;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
}

.results-container h3 {
  text-align: center;
  color: #e0e0e0;
}

.results-container ul {
  list-style-type: none;
  padding: 0;
}

.results-container ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #555;
}

.results-container ul li:last-child {
  border-bottom: none;
}

.result-container {
  margin-left: 20px;
}

.error-message {
  color: #e74c3c;
  text-align: center;
  margin-top: 20px;
}
